@{
    ViewData["Title"] = "Contracts";
}

            <div class="text-center font-bold">
                <h1>@ViewData["Title"]</h1>
            </div>
            <ul class="flex-column justify-start">
                <li>ACME group</li>
                <li>GeoTerme S.p.A.</li>
                <li>NovaTech Solutions</li>
                <li>BlueCore Industries</li>
                <li>EcoValley Group</li>
                <li>Studio Legale Valli & Partners</li>
            </ul>
        
