@{
    ViewData["Title"] = "I miei Contratti";
}
<h1>@ViewData["Title"]</h1>

<p>ACME group</p>
<p>GeoTerme S.p.A.</p>
<p>NovaTech Solutions</p>
<p>BlueCore Industries</p>
<p>EcoValley Group</p>
<p>Studio Legale Valli & Partners</p>
